html,
body {
    margin: 0;
    /* background: papayawhip; */

}

.carousel {
    --current-slide: 0;
    /* we set position relative so absolute position works properly for the buttons */
    position: relative;
    overflow: hidden;
    margin: 0 auto 2% auto;
    display: block;
    /* border: 2px solid magenta; */
    width: 1010px;
    height: 630px;
  
  }
  
  .carousel-button {
    /* vertically centering the buttons */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 50%;
  
    /* basic styling */
    padding: 0;
    margin: 0;
    border-radius: 100%;
    background-color: white;
    border: none;
    /* border: 8px solid limegreen; */
  
    font-size: 2.0rem;
    cursor: pointer;
  
    transition: color 0.1s;
  }
  
  .carousel-button:hover {
    color: rgba(250, 180, 0, 1.0);
  }
  
  .carousel-button_next {
    /* The "next slide button" will be at the right */
    right: 20px;
    /* background-color: #fff; */
    box-shadow: 0 0 10px 5px #fff;
    /* box-shadow: 0 0 5px #ffee10; */

    /* box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #b400ff, 0 0 140px 90px #ff00d4; */
  
    /* border: 5px solid blue; */
  }
  
  .carousel-button_previous {
    /* border: 5px solid magenta; */
    box-shadow: 0 0 20px 10px #fff;
    left: 10px;
  }
  .slides {
    display: flex;
    width: 100%;
    transition: transform 0.5s;
    transform: translateX(calc(-100% * var(--current-slide)));

  }
  
  .slide {
    flex: 0 0 100%;
    /* box-shadow: 20px 20px 60px 30px rgb(15, 14, 14); */

  }
  
  .individualSlides {
        /* x-offset y-offset blur-radius color */
        /* filter:drop-shadow(0.25rem 0.25rem 0.5rem #0000); */
        /* box-shadow: 0 0 60px 30px black; */
        /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit; */
        box-shadow: 4px 4px 6px 0px rgba(73, 68, 57, 0.52);

  }
  /* @media screen and (min-width: 768px) { */
    
  /* _______________________________  Tablet Styles___________________________________________________________ */
@media only screen and (min-width: 561px) and (max-width: 1023px) {
  .carousel-button {
    font-size: 2rem;
    margin: 1rem;
  }

  .carousel {
    width: 500px;
  }
}
  