*{
    box-sizing: border-box;
  }
  
  
  
  body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: orange;
    }
  #homeText {
    font-size: 100px;
    color: black;
    width: 80%;
    position: absolute;
    top: 150px;
    text-align: center;
    left: 10%;
    border: 1px solid white;
    background-color: #fff;
    opacity: 60%;
    padding: 5%;
    height: 60%;


  }
  #paragraphText {
    font-size: 20px;
    color: black;
    width: 75%;
    position: absolute;
    top: 450px;
    text-align: center;
    display: block;
    left: 12%;
    
    
  }
  /* Style the header */
  .header {
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    text-align: center;
      
    }
  /* Create two unequal columns that float next to each other */
  /* Left column */
  .leftcolumn {
      float: left;
      width: 75%;
  }
      /* Right column */
  .rightcolumn {
      float: left;
      width: 25%;
      padding-left: 20px;
      
  }
  /* Add a card effect for articles */
  .card {
      background-color: white;
      padding: 20px;
      margin-top: 20px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  /* Descendant selectors - Select an image inside a div and style the image this way(below) */
  /* div img {
      border-radius: 50%;
  } */
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: black;
    /*position: fixed;/*set nav bar to a fixed position*/
    font-family: Arial, Helvetica, sans-serif;
    top: 3px;
    width: 100%;
      
    
  }
  
  
  /* Navigation links */
  .topnav a {
      float: left;
      padding: 20px;
      display: block;
      background-color: black;
      color: white;
      text-decoration: none;
      font-size: 20px;
      width: 16.66%; /* Six equal-width links*/
      text-align: center; /* If you want the text to be centered */
      
    }
      
  
      
  /* Change color on hover */
  .topnav a:hover {
    background-color: orange;
    color: black;
  }
  
  /*-----------------------------------------------------------------------------------------------------------------------------*/
  
  
  .buttonClass {
      font-size: 20px;
      font-family:'sans-serif';
      width:1000px;
      height:100px;
      border-width:1px;
      color:#fff;
      border-color:#3b6e22;
      font-weight:bold;
      border-top-left-radius:7px;
      border-top-right-radius:7px;
      border-bottom-left-radius:7px;
      border-bottom-right-radius:7px;
      box-shadow:inset 0px 1px 0px 0px #9acc85;
      background:linear-gradient(#74ad5a, #68a54b);
      padding: 7px;
      text-decoration: none;
  }
  
  .buttonClass:hover {
      background: linear-gradient(#68a54b, #74ad5a);
      text-decoration: underline;
  }
   
  /*.arrow-container{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
  }
  
  .arrow-1{
    width: 100px;
    height: 100px;
    background: orange;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
  }
  
  .arrow-2{
    width: 60px;
    height: 60px;
    background: orange;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    display: table;
  }
  
  .arrow-2:before{
    width: 52px;
    height: 52px;
    content: "";
    border: 2px solid #006064;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
  }
  
  .arrow-2 i.fa{
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #006064;
  }
  
  /* Custom Animate.css */
  
 /* .animated.hinge {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.4, .4, .4);
              transform: scale3d(.4, .4, .4);
    }
  
    50% {
      opacity: 0.5;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.4, .4, .4);
              transform: scale3d(.4, .4, .4);
    }
  
    50% {
      opacity: 0.5;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }  */
  
  
  /* --------------------Media queries---------------- */
  
  /*tablet styles*/
  
  @media only screen and (min-width: 561px) and (max-width: 1023px)  {
    *{
      /* border: 1px solid black; */
    }
    .topnav a {
      font-size: 18px;
      padding-left: 1px;
      padding-right: 1px;
      
    }
  
    .atable {
  
     border: 0px;
      padding: 0px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      width: 100%;
     /* border-collapse: collapse;*/
      border-spacing: 100px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      margin-bottom: 0px;
      
  }
  
    
  .leftcolumn {
    float: none; 
  }
  
  .leftcolumn, .rightcolumn{
    margin-left: auto;
    margin-right: auto;
  }
    /* Right column */
    .rightcolumn {
     float: none;
      width: 75%;
    
  
 
      
  }
  /*.video-container {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  
  }*/
   
 /* .video-banner {
    position: relative;
  }
  .video-banner .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
  }*/
   .video-text-container {
    height: 100vh;
    width:100%;
    position: relative;

   }
   .video-text-container video {
    height:100%;
    width: 100%;
    object-fit: cover;

   }
   .video-text-container .text-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial;
    font-size: 200px;
    text-transform: uppercase;
   }

  
   
  /*------------------------------------------------------*/
  
  
  /*Mobile styles*/
  @media (max-width: 560px) {
    .topnav a {
      font-size: 18px;
      padding-left: 1px;
      padding-right: 1px;
     
    }
    .atable {
  
      border: 0px;
       padding: 0px;
       font-family: 'Water Brush', cursive;
       font-size: 18px;
       width: 100%;
      /* border-collapse: collapse;*/
       border-spacing: 100px;
       margin-left: auto;
       margin-right: auto;
       margin-top: 40px;
       margin-bottom: 0px;
       
   }
   
   img {
     width: 100%;
     height: auto;
   }
  
   .leftcolumn {
    float: none;
    
    
  }
  
  .leftcolumn, .rightcolumn{
    margin-left: auto;
    margin-right: auto;
  }
    /* Right column */
    .rightcolumn {
     float: none;
      width: 75%;
      padding-left: 0px;
  
     
      
  }
    
  
  