html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

* { 
  box-sizing: border-box;
} 

  
    
  body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: orange;
    }
 
    #video-text-container {
      position: relative;
  }
    #overlay-text {
      position: absolute;
      font-size: 20px;
      top: 150px;
      left: 10%;
      width: 80%;
      line-height: 1.5;
      display: block;
      z-index: 1;
  }
    #opaque-box {
      background-color: white; /* This will set the background color to opaque white */
      opacity: 80%;
      padding: 20px; /* This will add some padding to the text */
      text-align: center;
      position: absolute; /* This sets the position of the element to absolute */
        
  }
 
  h1 {
    font-size: 60px;
  }

  h3 {
    font-size: 40px;
    text-align: center;

  }
 .atable p {
    text-align: left;
    padding-left: 18px;

  }

  .atable {

    border: 0px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 20px;
    width: 100%;
    /*border-collapse: collapse;*/
    border-spacing: 50px;
    /*margin-left: 10%;*/
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    
}
   /* #homeText {
    font-size: 85px;
    color: black;
    width: 80%;
    position: absolute;
    top: 29px;
    text-align: center;
    left: 10%;
    border: 1px solid white;
    padding: 5%;
    /*height: 60%;*/
   

  /*}
  #paragraphText {
    font-size: 20px;
    color: black;
    width: 80%;
    padding: 0% 6% 6% 6%;
    position: absolute;
    line-height: 1.5;
    top: 330px;
    text-align: left;
    display: block;
    left: 10%;
    /*background-color: #fff;*/
    /*opacity: 60%;*/
    
 /* }
  

  #homeText, #paragraphText{

    background-color: white;
    opacity: 80%;
  }*/

  /* Style the header */
  .header {
    background-color: white;
    padding: 10px;
    /*border: 3px solid black;*/
    /*width: 1400px;
    margin-right: auto;
    margin-left: auto;*/
  text-align: center;
      
    }
  /* Create two unequal columns that float next to each other */
  /* Left column */
  .leftcolumn {
      float: left;
      width: 75%;
  }
      /* Right column */
  .rightcolumn {
      float: left;
      width: 25%;
      padding-left: 20px;
      
  }
  /* Add a card effect for articles */
  .card {
      background-color: white;
      padding: 20px;
      margin-top: 20px;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: black;
    /*position: fixed;/*set nav bar to a fixed position*/
    font-family: Arial, Helvetica, sans-serif;
    top: 3px;
    width: 100%;
     
  }
  
  
  /* Navigation links */
  .topnav a {
      float: left;
      padding: 20px;
      display: block;
      background-color: black;
      color: white;
      text-decoration: none;
      font-size: 20px;
      width: 16.66%; /* Six equal-width links*/
      text-align: center; /* If you want the text to be centered */
      
    }
      
      
  /* Change color on hover */
  .topnav a:hover {
    background-color: orange;
    color: black;
  }
  
  /*-----------------------------------------------------------------------------------------------------------------------------*/
    
  .video-text-container {
    height: 100%;
    width:100%;
    position: relative;
  
  
   }
   .video-text-container video {
    height:100vh;
    width: 100%;
    object-fit: cover;
  
   }

   /*.video-text-container .text-container {
    color: magenta;
   }*/

/*footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}*/
footer{
  position: absolute;
  margin-bottom: auto;
  width: 100%;
  padding: 1%;
  text-align: center;
}
  
  
  /* --------------------Media queries---------------- */
  
  /*tablet styles*/
  
  @media only screen and (min-width: 561px) and (max-width: 1023px)  {
    
    
    .topnav a {
      font-size: 18px;
      padding-left: 1px;
      padding-right: 1px;
      
    }
  
    .atable {
  
     border: 0px;
      padding: 0px;
      font-family: Arial, Helvetica, sans-serif;
      background-color: white;
      font-size: 18px;
      width: 100%;
     /* border-collapse: collapse;*/
      border-spacing: 100px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      margin-bottom: 10px;
    
      
  }
  img {
    width: 100%;
    /*height: auto;*/
  }
    
  .leftcolumn {
    float: none; 
  }
  
  .leftcolumn, .rightcolumn{
    margin-left: auto;
    margin-right: auto;
  }
    /* Right column */
    .rightcolumn {
     float: none;
      width: 75%;
    
  
 
      
  }
  /*.video-container {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  
  }*/
   
 /* .video-banner {
    position: relative;
  }
  .video-banner .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 1;
  }*/
} 

  
   
  /*------------------------------------------------------*/
  
  
  /*Mobile styles*/
  @media (max-width: 560px) {
    .topnav a {
      font-size: 18px;
      padding-left: 1px;
      padding-right: 1px;
     
    }
    .atable {
  
      border: 0px;
       padding: 0px;
       font-family: 'Water Brush', cursive;
       font-size: 18px;
       width: 100%;
      /* border-collapse: collapse;*/
       border-spacing: 100px;
       margin-left: auto;
       margin-right: auto;
       margin-top: 40px;
       margin-bottom: 0px;
       
   }
   
   img {
     width: 100%;
     height: auto;
   }
  
   .leftcolumn {
    float: none;
    
    
  }
  
  .leftcolumn, .rightcolumn{
    margin-left: auto;
    margin-right: auto;
  }
    /* Right column */
    .rightcolumn {
     float: none;
      width: 75%;
      padding-left: 0px;
  
     
      
  }
}
  
/*.video-text-container .text-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial;
    font-size: 200px;
    text-transform: uppercase;
   }*/